@import "src/variables.scss";

.pokemon-detail__header {
  margin-top: 2vh;
  background-color: $primary;
  padding: 2vw;
  
  border-top: 0.25vh solid $accent;
  border-bottom: 0.25vh solid $accent;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 30%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.pokemon-detail__header-info {
  display: flex;
  flex-direction: column;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5vw;
  font-family: "pokemonSolid";
}

.pokemon-img {
  border-bottom: 0.15vw solid $accent;
  border-right: 0.15vw solid $accent;

  padding: 0.5vw;
  border-radius: 50%;
}

.pokemon-detail__content {
  margin-top: 2vh;
  background-color: $primary;
  padding: 2vh;
  border-top: 0.25vh solid $accent;
  border-bottom: 0.25vh solid $accent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pokemon-detail__content--summary {
  width: 20vw;
}
