<div class="pokemons-screen__container">
  <div class="search-container">
    <tabmo-pokemon-search
      (onSearch)="searchPokemon($event)"
      (onSelectedFiltered)="toggleSelectedFilter($event)"
    ></tabmo-pokemon-search>
  </div>
  <ng-container *ngIf="pokemons$ | async as pokemons; else loading">
    <ng-container *ngIf="pokemonPagination$ | async as pagination">
      <tabmo-infinite-scroll
        [dynamicHeight]="50"
        class="scrollable-container"
        (scrolled)="loadMorePokemons(pagination)"
      >
        <tabmo-pokemon-list
          [pokemons]="pokemons"
          (pokemonSelected)="selectPokemon($event)"
          (pokemonAdded)="addPokemon($event)"
          (pokemonRemoved)="removePokemon($event)"
        ></tabmo-pokemon-list>
      </tabmo-infinite-scroll>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  Loading...
  <!-- TODO: Replace w/ spinner -->
</ng-template>
