<div *ngIf="!!pokemonDetail" class="summary__container">
  <ng-container
    *ngTemplateOutlet="
      line;
      context: { $implicit: pokemonDetail.speciesName, display: 'Species Name' }
    "
  ></ng-container>
  <ng-container
    *ngTemplateOutlet="
      line;
      context: { $implicit: pokemonDetail.baseXP, display: 'Base Experience' }
    "
  ></ng-container>
  <ng-container
    *ngTemplateOutlet="
      line;
      context: { $implicit: pokemonDetail.height, display: 'Height' }
    "
  ></ng-container>
  <ng-container
    *ngTemplateOutlet="
      line;
      context: { $implicit: pokemonDetail.weight, display: 'Weight' }
    "
  ></ng-container>
  <ng-container
    *ngTemplateOutlet="
      multi;
      context: { $implicit: pokemonDetail.types, display: 'Types' }
    "
  ></ng-container>
</div>

<ng-template #line let-value let-display="display">
  <div *ngIf="!!value" class="line__container">
    <div *ngIf="!!display" class="line__display">{{ display }}</div>
    <div class="line__value">{{ value | titlecase }}</div>
  </div>
</ng-template>

<ng-template #multi let-values let-display="display">
  <div *ngIf="!!values && !!values.length" class="multi-line__container">
    <div *ngIf="!!display" class="multi-line__display">{{ display }}</div>
    <div>
      <ng-container *ngFor="let value of values">
        <ng-container
          *ngTemplateOutlet="line; context: { $implicit: value }"
        ></ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>
