.pokemon-list__container {
  display: flex;
  flex-flow: row wrap;
}

.pokemon-list__item {
  transition: all 0.2s ease-in-out;
  flex-basis: 20%;
  flex-grow: 1;
  margin: 10px;
  max-width: 300px;

  &:hover {
    transform: scale(1.05);
  }
}
