.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.icon__container {
    display: flex;
    align-items: center;
    justify-content: center;
}