.pokemon-card {
  animation: fadein 0.5s;
  transition: all 0.2s ease-in-out;

  &__pricetag {
    flex: 1;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }
}

.no-header-image {
  background-image: url("/assets/img/no_image.png");
  background-size: cover;
}

mat-card.item-added {
  background-color: rgba(38, 219, 38, 0.3);
}

.pokemon-card__content,
.pokemon-card__header {
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
