@import "~@angular/material/theming";

$app-primary: mat-palette($mat-blue-grey);
$app-accent: mat-palette($mat-amber, A200, A100, A400);
$app-warn: mat-palette($mat-deep-orange);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);
